# Impedir o acesso direto a este arquivo
<Files .htaccess>
    Require all denied
</Files>

# Ativar o uso de regras de reescrita
RewriteEngine On

# Redirecionar todas as solicitações para index.php, exceto para arquivos e diretórios existentes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]